.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.oppa-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.banana-div {
  margin: auto 35rem auto 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#container-scroll-up {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
#scroll-text-up {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}
/* Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* Google Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#singerFrame {
  position: absolute;
}

#thesinger {
  resize: none;
}
