.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main-div {
  padding-top: 25rem;
}
.oppa-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.banana-div {
  margin: auto 35rem auto 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cube-container {
  width: 20rem;
  height: 20rem;
  background: white;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  resize: vertical;
}
.cube-container div {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: white;
  scroll-snap-align: center;
}
.cube1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 79%,
    rgba(0, 212, 255, 1) 96%
  );
}
.cube2 {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    270deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 3%,
    rgba(9, 9, 121, 1) 96%,
    rgba(0, 212, 255, 1) 99%
  );
}
.cube3 {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    270deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 3%,
    rgba(9, 9, 121, 1) 96%,
    rgba(0, 212, 255, 1) 99%
  );
}
.cube4 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 79%,
    rgba(0, 212, 255, 1) 96%
  );
}
.secretButton {
  position: absolute;
  bottom: -100rem;
  z-index: -1;
}
#container-scroll-up {
  z-index: 5;
  transform: rotate(5deg);
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 1;
}
#scroll-text-up {
  background-blend-mode: normal black;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 13s linear infinite;
  -webkit-animation: my-animation 13s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#container-scroll-a {
  overflow: visible;
  z-index: 5;
  transform: rotate(-25deg);
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 70rem;
  top: 0;
}
#scroll-text-a {
  background-blend-mode: normal black;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation-a 6s linear infinite;
  -webkit-animation: my-animation-a 6s linear infinite;
}
@keyframes my-animation-a {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#singerFrame {
  position: absolute;
}

#thesinger {
  resize: none;
}

#rainbow {
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0%,
  100% {
  }
  8% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  25% {
    color: rgb(127, 255, 0);
  }
  30% {
    color: rgb(0, 255, 0);
  }
  40% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: turquoise;
  }
  56% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: blue;
  }
  75% {
    color: rgb(127, 0, 255);
  }
  80% {
    color: rgb(255, 0, 255);
  }
  90% {
    color: rgb(255, 0, 127);
  }
}
