.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.oppa-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.banana-div {
  margin: auto 35rem auto 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.unlock-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#container-scroll-up {
  z-index: 5;
  transform: rotate(5deg);
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}
#scroll-text-up {
  background-blend-mode: normal black;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 13s linear infinite;
  -webkit-animation: my-animation 13s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#singerFrame {
  position: absolute;
}

#thesinger {
  resize: none;
}
