.ball {
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.ball2 {
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 0;
}
.main-div {
  padding-top: 25rem;
}
.main-div.last {
  padding-top: 13rem;
}

#ball1 {
  animation: bounce 1s linear infinite;
}
#ball2 {
  animation: bounce 1s linear infinite;
}
#ball3 {
  animation: bounceHorizontal 1s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-200%);
    transform: translateY(-100%);
  }
  25% {
    height: 150px;
    width: 150px;
  }
  40% {
    transform: translateX(-10%);
    transform: translateY(-5%);
    height: 100px;
    width: 150px;
  }
  50% {
    transform: translateX(0%);
    transform: translateY(0%);
  }
  60% {
    transform: translateX(-80%);
    transform: translateY(-60%);
    height: 150px;
    width: 150px;
  }
  100% {
    transform: translateX(-100%);
    transform: translateY(-100%);
  }
}
@keyframes bounceHorizontal {
  0% {
    transform: translate(-750px, -100%);
  }
  35% {
    height: 150px;
    width: 150px;
  }
  40% {
    transform: translate(0, -5%);
    height: 100px;
    width: 150px;
  }
  50% {
    transform: translate(0, 0%);
  }
  60% {
    transform: translate(0, -30%);
    height: 150px;
    width: 150px;
  }
  100% {
    transform: translate(750px, -100%);
  }
}
